* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0a6e73;
    color: white;
}

header img {
    width: 50px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90vw;
    margin: 20px 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rifas-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    color: #111b59;
    font-weight: 600;
    width: 70vw;
    max-height: 500px;
    padding: 5px;
    border: solid 2px #111b59;
    border-radius: 10px;
    overflow: auto;
}

.rifas-container:hover {
    zoom: 102%;
}

.rifa-dados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 2px;
    background-color: aliceblue;
    border: solid 2px #111b59;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.rifa-dados:hover {
    background-color: rgb(213, 241, 234);
}
.editar-rifas {
    text-align: center;
    width: 350px;
    margin: 10px;
}

.editar-rifas p {
    text-align: start;
    font-size: 1.5rem;
}

.editar-bt {
    background-color: #111b59;
    color: antiquewhite;
    font-weight: bold;
    width: 100px;
    height: 40px;    
    margin-top: 5px;
    border-radius: 10px;
}

.editar-bt:hover {
    background-color: #0a1140;
}

.editar-bt:active {
    background-color: #004044;
}

.grupo-botoes {
    margin-bottom: 20px;
}

.editar-dados-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    background-color: aliceblue;
    color: #0a1140;
    font-weight: 700;
    border-radius: 15px;
}

.input-dados {
    margin-top: 10px;
}

.hidden {
    display: none;
}

@media (max-width: 650px) {
    .rifas-container {
        width: 90vw;   
    }
}